<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="calculator" class="com.github.kospiotr.springcore.ScoreCalculator">
        <property name="fraudDetector">
            <bean class="com.github.kospiotr.springcore.fraud.PolishFraudDetector"/>
        </property>
        <property name="scoringRules">
            <list>
            </list>
        </property>
    </bean>

</beans>